/* Got BEM? https://getbem.com/naming/ */

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 1.6;
  color: var(--tw-gray-800);
  background-color: white;
}

/* Force inheritance of border-box throughout app. */
*, *:before, *:after {
  box-sizing: inherit;
}


/**
* Variables
*/

/* Colors borrowed from Tailwind: https://tailwindcss.com/docs/customizing-colors. */
:root {
  --tw-gray-800: #1f2937;
  --tw-violet-700: #6d28d9;
}

/**
* Header
*/

.header {
  max-width: 1200px;
  padding: 20px;
  margin: 0 auto;
  text-align: right;
}

/* Width 640px or greater */
@media (min-width: 640px) {
  .header {
    padding: 40px;
  }
}


/**
* Home Page
*/

.home {
  max-width: 1200px;
  padding: 0px 20px;
  margin: 0 auto;
}

.home__spacer {
  display: inline-block;
  height: 80px;
}

.home__blurb {
  max-width: 800px;
  padding-bottom: 80px;
}

.home__blurb-heading {
  font-size: 20px;
  line-height: 1;
}

.home__blurb-heading--bold {
  font-weight: 800;
}

.home__blurb-details {
  padding-top: 20px;
}

.home__sign-up {
  padding-top: 20px;
}

/* Width 400px or greater */
@media (min-width: 400px) {
  .home__blurb-heading {
    font-size: 24px;
  }
}

/* Width 450px or greater */
@media (min-width: 450px) {
  .home__blurb-heading {
    font-size: 28px;
  }
}

/* Width 640px or greater */
@media (min-width: 640px) {
  .home {
    padding: 0px 40px;
  }
}

/* Note 900px breakpoint in child component. */
